# Environment
NODE_ENV=

# SQLite
SQLITE_FILE_PATH=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
VITE_BETTER_AUTH_URL=

# Email
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=

SUPPORT_EMAIL=
